from __future__ import annotations

from fastapi import FastAPI

from .routers import {{ routers | join(", ") }}
root_tags = {{openapi_tags}}

def make_app( **kargs):
	app = FastAPI(
		{% if info %}
		{% for key,value in info.items() %}
		{% set info_value= value.__repr__() %}
		{{ key }} = {{info_value}},
		{% endfor %}
		{% endif %}
		openapi_tags = root_tags,
		**kargs
		)

	{% for router in routers -%}
	app.include_router({{router}}.router)
	{% endfor -%}

	{# not needed
	@app.get("/")
	async def root():
		return {"message": "Gateway of the App"}
	#}	

	return app
